body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

nav{
    padding: 5px 8rem 5px 8rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    list-style:none;
    color: #511713;
}

ul .nav-button{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

ul li img{
    width: 50px;
}

.changepass-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.change-password h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #555;
}

.change-password label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.change-password input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.change-password button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.change-password button:hover {
    background-color: #45a049;
}

footer{
    background-color: #2E2E2E;
    padding: 18px;
    display: flex;
    justify-content: center;
}

footer .text-footer{
    color: #fff;
}