nav{
    padding: 5px 8rem 5px 8rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    list-style:none;
    color: #511713;
}

ul .nav-button{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

ul li img{
    width: 50px;
}