body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}
nav{
    padding: 5px 8rem 5px 8rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    list-style:none;
    color: #511713;
}

ul .nav-button{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

ul li img{
    width: 50px;
}

.section-container{
    padding: 0 2rem 0 2rem;

}

.content-container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
}

.table-header h1{
    font-size: 35px;
    text-align: center;
}

.section-container{
    min-height: 100vh;
}

footer{
    background-color: #2E2E2E;
    padding: 18px;
    display: flex;
    justify-content: center;
}

footer .text-footer{
    color: #fff;
}