body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

nav{
    padding: 5px 8rem 5px 8rem;
}

.nav-toggle{
    display: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    list-style:none;
    color: #511713;
}

ul .nav-button{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

ul li img{
    width: 50px;
}

.import-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.import-container {
    width: 400px;
    background-color: #ffffff;
    border: 1px solid #8b0000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    text-align: center;
}

.import-header {
    margin-bottom: 20px;
}

.import-header h1 {
    color: #8b0000;
    font-size: 24px;
    margin: 0;
}

.import-button {
    padding: 10px 20px;
    background-color: #8b0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    flex-direction:column;
    gap: 1rem;

}

.import-button:hover {
    background-color: #a00000;
}

.logout-link {
    display: block;
    margin-top: 15px;
    color: #8b0000;
    text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}

.upload-btn{
    background-color: #424242;
    color: #fff;    
    padding: 10px;
    border-radius: 15px;
    border:none;
}

.upload-btn:hover{
    background-color: #2E2E2E;
}

.upload-btn:active{
    background-color: #000;
}

.csv-button{
    color: #fff;
    cursor: pointer;
}

.import-button span{
    text-decoration: underline;
}

footer{
    background-color: #2E2E2E;
    padding: 18px;
    display: flex;
    justify-content: center;
}

footer .text-footer{
    color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px){

    nav{
        padding: 15px 35px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    ul .nav-button{
        display: none;
    }

    ul .nav-button.active {
        display: flex;
        flex-direction: column;
        
    }

    ul .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .nav-toggle{
        display: block;
    }

    .nav-toggle button{
        background-color: #511713;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    footer .text-footer{
        text-align: center;
    }
}