body{
    margin: 0;
    font-family: Arial, sans-serif;
}

section{
    padding: 0 2rem 0 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-container{
    border: 1px solid #ccc;
    border-radius: 15px;
    min-width: 30%;
    padding: 1.5rem;
}

.edit-container h1{
    text-align: center;
}

.edit-container p{
    text-align: center;
    font-size: 18px;
}

.edit-container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-container form button{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #8b0000;
    color: white;
    cursor: pointer;
}

.edit-container form button:hover{
    background-color: #b30000;
}

.edit-container form a{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2E2E2E;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}



